{% include "base.html.twig" %}

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Société</th>
            <th>Domaine</th>
            <th>Société Fournisseur</th>
            <th>Domaine Fournisseur</th>
            <th>Date de Validation</th>
            <th>Date d'Expiration </th>
        </tr>
    </thead>
    <tbody>
        {% for list in lists %}
            <tr>
                <th class="bg-dark text-white">{{list.id}}</th>
                <td>{{list.society}}</td>
                <td>{{list.domain}}</td>
                <td>{{list.providerSociety}}</td>
                <td>{{list.providerDomain}}</td>
                <td>{{list.valideDate | date("d/m/Y H:i:s", "Europe/Paris")}}</td>
                <td>{{list.expireDate | date("d/m/Y H:i:s", "Europe/Paris")}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>