{% include "base.html.twig" %}

<table class="table table-bordered">
    <thead class="thead-primary text-white">
        <tr>
            <th>ID</th>
            <th>Société</th>
            <th>Domaine</th>
            <th>Société Fournisseur</th>
            <th>Domaine Fournisseur</th>
            <th>Date de Validation</th>
            <th>Date d'Expiration </th>
        </tr>
    </thead>
    <tbody>
        {% if lists %}
            {% for list in lists %}
                <th class="thead-primary text-white">{{list.id}}</th>
                <td>{{Societe}}</td>
                <td>{{Domaine}}</td>
                <td>{{SocieteFournisseur}}</td>
                <td>{{DomaineFournisseur}}</td>
                <td>{{DateValidation}}</td>
                <td>{{DateExpiration}}</td>
            {% endfor %}
        {% endif %}
        
    </tbody>
</table>