{% extends "base.html.twig." %}

{% block body %}
    {{ form_start(searchForm) }}
    {{ form_end(searchForm) }}

    <table class="table table-bordered">
        <thead class="thead-dark text-center">
            <tr>
                <th>ID</th>
                <th>Société</th>
                <th>Domaine</th>
                <th>Société Fournisseur</th>
                <th>Domaine Fournisseur</th>
                <th>Date de Validation</th>
                <th>Date d'Expiration </th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for exDate in expireDate %}
                <tr>
                    <th class="bg-dark text-white text-center">{{ exDate.id }}</th>
                    <td>{{ exDate.society }}</td>
                    <td>{{ exDate.domain }}</td>
                    <td>{{ exDate.provider_society }}</td>
                    <td>{{ exDate.provider_domain }}</td>
                    <td>{{ exDate.valide_date | date("d/m/Y H:i:s") }}</td>
                    <td>{{ exDate.expire_date | date("d/m/Y H:i:s") }}</td>
                    {% if exDate.expiration > 5 %}
                        <td class="bg-success"><em>Ce certificats est valide!</em></td>
                    {% elseif exDate.expiration > 0 %}
                        <td class="bg-warning"><em>Ce certificats va expirer dans {{ exDate.expiration }} jours!</em></td>
                    {% else %}
                        <td class="bg-danger"><em>Ce certificats est expirer!</em></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
